// add the rules for ignore some files with the patterns below.
*.old
all
*.out
*.cmd
hvep
dhrystone
linpack
saxpy
qpower
ateinit
glktest
tcmtest
asmpercpu
memrand
arm64isa
power_*
testos
testos_imc
testos_apc
hdts_imc*
hdts_apc*
*.strip
.tmp_versions
.kernelrelease
.tmpconfig*
.config*
.*.cmd
*.tmp
*.d
*.o
*.ihx
*.lnk
*.lib
*.srec
*.mem
*.map
*.usg
*.omf
*.cdb
*.lk
*.hex
*.tar.gz
cscope*
tags
*.bak
*.swp
*.stackdump
*.log
*.wrn
*.err
*.opt
*.plg
*.ncb
*.pyc
*.sign
unsigned
sign
output
# quilt files
.pc
patches

# elcipse project files
.settings
.project
.cproject

# vscode
.vscode/
.clang-format
/arch/*/include/asm/asm-offsets.h
/arch/*/include/asm/mach
/arch/*/common/hvep.lds
/arch/*/common/asm-offsets.s
/arch/*/boot/hvep.bin
hvep-*

